@page "{id}"
@model Pizza_StoreV5.EditPizzaModel
@{
    ViewData["Title"] = "EditPizza";
}

<h1>EditPizza</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Pizza.Id" class="control-label"></label>
        <input hidden="hidden" asp-for="@Model.Pizza.Id" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.Name" class="control-label"></label>
        <input asp-for="@Model.Pizza.Name" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.Description" class="control-label"></label>
        <input asp-for="@Model.Pizza.Description" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.Price" class="control-label"></label>
        <input asp-for="@Model.Pizza.Price" class="form-control" />
        <span asp-validation-for="@Model.Pizza.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Pizza.ImageName" class="control-label"></label>
        <input asp-for="@Model.Pizza.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Pizza.ImageName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


